<? xml version="1.0" enconding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
version="1.0.0" id="br.eti.moniqueaz.curso-cordova"
>
    <name>Só de Cenoura </name>
    <decription>
        Menu do restaurante Só de Cenoura
    </description>
    <author href="http://moniqueaz.eti.br"
        email="emailface@moniqueaz.eti.br">
        Monique Azevedo
    </author>
    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <gap:plataform name="android" />

</widget>